{% extends "base.html" %}

{% block title %}
Lost and Found
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2 bg-dark-subtle " style="height: 92vh;">
            <nav class="navbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('report_a_lost_item') }}"> Report a lost item<br><span
                                class="h6">(You lost an
                                item)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('report_a_found_item') }}"> Report a found item<br><span
                                class="h6">(You found an
                                item)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('my_lost_items') }}"> My lost items<br><span class="h6">(Items you have lost)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('my_found_items') }}"> My found items<br><span class="h6">(Items of others you have
                                found)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('all_lost_items') }}"> Show all lost items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('all_found_items') }}"> Show all found items</span></a>
                    </li>
                    {% block additional_vertical_admin_nav %}{% endblock %}
                </ul>
            </nav>
            <br>
            <br>
            <!-- Rank stuff -->
        </div>
        <div class="col">
            {% block recent_items_thing %}
            <div class="row "> <!-- flex-column h-100 -->
                <div class="col darkbgbar my-1" style="height:46vh;max-height:46vh;overflow-y: scroll;"> <!--flex-grow-50-->
                    <div>
                        <div class="h3 bg-dark py-1 text-center sticky-top">Recently Lost Items</div>
                        <br>
                    

                        {% for i in recent_lost %}
                        <div class="row">
                            {% for j in i %}
                            <div class="col-4">
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img style="max-width: 150px;max-height: 150px;" src="{{ j['picture'] }}" class="img-fluid rounded-start" >
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ j['name'] }}</h5>
                                                <p class="card-text">{{ j['description'] }}
                                                    <br>
                                                    Location Lost: {{ j['location_lost'] }}
                                                    <br>
                                                </p>
                                                <p class="card-text text-body-secondary">Category : {{ j['category'] }} | Date : {{ j['date'] }}<br>Added : {{ j['delta'] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col bg-secondary-subtle darkbgbar my-1" style=" height:46vh; max-height:46vh;overflow-y: scroll;" >
                    <div>
                        <div class="h3 bg-secondary-subtle py-1 text-center sticky-top">Recently Found Items</div>
                        <br>
                        {% for i in recent_found %}
                        <div class="row">
                            {% for j in i %}
                            <div class="col-4">
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img style="max-width: 150px;max-height: 150px;" src="{{ j['picture'] }}" class="img-fluid rounded-start" >
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ j['name'] }}</h5>
                                                <p class="card-text">{{ j['description'] }}
                                                    <br>
                                                    Location Found: {{ j['location_found'] }}
                                                    <br>
                                                    <a role="button" class="btn btn-primary" href="{{ url_for('claim_item',_id=j['_id'])}}">Claim</a>
                                                </p>
                                                <p class="card-text text-body-secondary">Category : {{ j['category'] }} | Date : {{ j['date'] }}<br>Added : {{ j['delta'] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}

                    </div>


                </div>
            </div>
            {% endblock %}
        </div>
    </div>
    <div class="row">
    </div>
</div>

{% endblock %}