{% extends "base.html" %}

{% block title %}
View Item
{% endblock %}


{% block content %}

<div class="container">

    <div class="row">

        <div class="col"></div>
        <div class="col-6">
            <br>
            <h3 class="h3">Item</h3>
            <br>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img style="max-width: 150px;max-height: 150px;" src="{{ item['picture'] }}"
                            class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ item['name'] }}</h5>
                            <p class="card-text">{{ item['description'] }}
                                <br>
                                Location Found: {{ item['location_found'] }}
                                <br>
                            </p>
                            <p class="card-text text-body-secondary">Category : {{ item['category'] }} | Date : {{
                                item['date'] }}<br>Added : {{ item['delta'] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}